
  *{
    margin:0px;
    padding:0px;
    box-sizing: border-box;}
   
  .div{
    color: cornsilk;
     padding:10px;
    padding-right: 1390px;
  }
   a{
   
      text-decoration: none;
      color:cornsilk;
     padding:10px;
    float:left;
   
    }
    #nav{
      background-color:black;
    padding:20px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: sticky;
    top: 0px;
    }
    body{
      background-color:black;
    }
    img{
      height:100vh;
      width:100vw;
    }
    
.container{
 
    letter-spacing: 0.09rem;
    width:100vw;
    font-size:2.5vh;
    color:black;
    text-align: center;
    padding: 10px 0.5rem 0.5rem 0.5rem;
  
}


.img{
  background-image:url(students-learning-in-library.png);
  background-repeat:no-repeat;
  height: 60vh;
  background-size:cover;
  
}
h2{
    color:black;
    word-spacing: 20px;
    font-size:50px;
    text-align:right;
    padding: 150px 500px 0px 450px;
   
}
.h2{
  padding:0px 480px 0px 500px;
}
p{
    color:ghostwhite;
    word-spacing: 15px;
    font-size: 30px;
    text-align: right;
    padding: 30px 360px 0px 400px;
}
.p{
  text-align: right;
  padding:10px 570px 0px 30px;
}
.btn{
 border-radius:5px;
 padding:10px;
    background-color: dodgerblue;
    color:black;
    width:100px;
}
